body {
    background: black;
}

#container {
    position: fixed;
    background: #777;
    top: 20px;
    left: 40px;
    width: 1296px;
    height: 727px;
}

header {
    position: relative;
    background: #ebebeb;
    width: 70%;
    padding: 10px;
    top: 10px;
    left: 15%;
    bottom: 20px;
}

nav {
    position: relative;
    background: #ebebeb;
    width: 70%;
    padding: 10px;
    top: 20px;
    left: 15%;
    bottom: 20px;
}

h1 {
    font-family: 'Arial';
    font-size: 18px;
    padding: 5px;
    color: #777;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-family: 'Arial';
    font-size: 16px;
    background: white;
    padding: 20px;
    text-align: center;
    color: #777;
}

#relative {
    position: relative;
    height: 300px;
    padding: 10px;
    width: 500px;
    background: #eee;
    top: 30px;
    left: 15%;
    bottom: 20px;
  }
  
#absolute {
    position: absolute;
    top: 70px;
    right: 30px;
    bottom: 20px;
    height: 200px;
    width: 450px;
    padding: 5px;
    background: #999;
  }

aside {
    position: absolute;
    background: #ebebeb;
    width: 400px;
    height: 320px;
    top: 0px;
    right: -410px;
    bottom: 20px;
}

footer {
    background: #ebebeb;
    width: 70%;
    padding: 10px;
    margin: 40px 15%;
}
